#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px;
    right: 40px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#backToTopBtn:hover {
    background-color: blue; 
    color: #fff;
}

#downloadCV {
    display: none; 
    position: fixed; 
    bottom: 40px;
    left: 40px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #448aff;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    text-decoration: none;
    
}

#downloadCV:hover {
    background-color: blue; 
    color: #fff;
}